* {
  /* ZERANDO AS CONFIG DA PÁG */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-width: 100%;
}

.home {
  padding: 45px 136px;

  background-color: #290742;

  display: flex;
  gap: 64px;
  flex-direction: column;

  border-bottom: 6px solid #4fff4b;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 32px;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;

  text-decoration: none;
  color: white;
}

a:hover {
  filter: brightness(0.6);
  transition: filter 0.6s;
  border-left: 2px solid green;
}

form {
  display: flex;
  align-items: center;
}

input {
  width: 230px;
  height: 44px;

  border: none;
  border-radius: 4px 0 0 4px;

  background-color: #170027;
}

input::placeholder {
  color: #fbf6ff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 25px;
}

button {
  width: 70px;
  height: 44px;

  border: none;
  border-radius: 0 4px 4px 0;

  background-color: #9e6dc2;

  cursor: pointer;
}

button:hover {
  filter: brightness(0.6);
  transition: filter 0.8s;
}

.about-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.column-text {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 700px;
}

.column-text h1 {
  color: #9e6dc2;

  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 54px;
}

.column-text p {
  color: #fbf6ff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.about {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;

  margin-top: 90px;
}

.about small {
  color: #9e6dc2;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/* ############################################### */

.content {
  padding: 45px 136px;

  background-color: #fbf6ff;

  display: flex;
  flex-direction: column;
  gap: 64px;
}

section {
  display: flex;
  justify-content: space-between;
  gap: 130px;
}

.first-column {
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 569px;
}

.first-column img {
  width: 569px;
  height: 342px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text small {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  color: #000000;
}

.text h2 {
  line-height: 36px;
  color: #290742;
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

p {
  color: #000000;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}

.second-column .text {
  margin-top: 23px;
  margin-bottom: 23px;
}

/* ################################################# */
.cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  max-width: 370px;
}

.card img {
  width: 390px;
  height: 260px;
  margin-bottom: 8px;
}

.card small {
  color: #000000;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.card h3 {
  color: #290742;
  line-height: 36px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}